.destaques__secundario:nth-child(2){
    background: url(../../img/pubg.jpg) center / cover no-repeat;
}

.destaques__secundario:nth-child(3){
    background: url(../../img/slack.png) center / cover no-repeat;
}

.destaques__secundario:nth-child(4){
    background: url(../../img/whatsapp.png) center / cover no-repeat;
}

.destaques__secundario:nth-child(5){
    background: url(../../img/cs-go.jpg);
}
